    <footer class="bg-lightGray text-gray-800">
      <!-- Main footer content -->
      <div class="container mx-auto py-16 px-6">
        <div class="grid grid-cols-1 md:grid-cols-4 gap-8">
          <!-- About Section -->
          <div>
            <h3 class="text-xl font-bold mb-4">{{ site_setting.about_us_title }}</h3>
            <p class="text-sm opacity-80 leading-6">{{ site_setting.about_us_text }}</p>
          </div>

          <!-- Quick Links -->
          <div>
            <h3 class="text-xl font-bold mb-4">لینک‌های سریع</h3>
            <ul class="space-y-3 text-sm">
              {% if quick_links %}
              	{% for link in quick_links %}
                  <li>
                <a href="{{ link.link }}" class="hover:text-primary transition">{{ link.name }}</a>
              </li>
                {% endfor %}
              {% endif %}
            </ul>
          </div>

          <!-- Contact Section -->
          <div>
            <h3 class="text-xl font-bold mb-4">تماس با ما</h3>
            <ul class="space-y-3 text-sm">
              <li class="flex items-center space-x-2 rtl:space-x-reverse">
                <i class="fa-solid fa-envelope"></i>
                <span>{{ site_setting.email }}</span>
              </li>
              <li class="flex items-center space-x-2 rtl:space-x-reverse">
                <i class="fa-solid fa-phone"></i>
                <a
                  href="tel:{{ site_setting.phone_number }}"
                  class="hover:text-black duration-150"
                  >{{ site_setting.phone_number }}</a
                >
              </li>
              <li class="flex items-center space-x-2 rtl:space-x-reverse">
                <i class="fa-solid fa-phone"></i>
                <a
                  href="tel:{{ site_setting.second_phone_number }}"
                  class="hover:text-black duration-150"
                  >{{ site_setting.second_phone_number }}</a
                >
              </li>
              <li class="flex items-center space-x-2 rtl:space-x-reverse">
                <i class="fa-solid fa-location-dot"></i>
                <span>{{ site_setting.address }}</span>
              </li>
            </ul>
          </div>


          <!-- Newsletter Section -->
          <div>
            <h3 class="text-xl font-bold mb-4">ما را دنبال کنید</h3>
            <p class="text-sm opacity-80 leading-6 mb-4">
              برای به‌روز بودن با آخرین اخبار و محتواهای ما، ما را در شبکه‌های اجتماعی زیر دنبال کنید.
            </p>
            <div class="flex items-center space-x-4 rtl:space-x-reverse">
              <a href="{{ site_setting.instagram }}" target="_blank" class="text-lg">
                <i class="fab fa-instagram" aria-hidden="true"></i>
              </a>
              <a href="{{ site_setting.telegram }}" target="_blank" class="text-lg">
                <i class="fab fa-telegram-plane" aria-hidden="true"></i>
              </a>
              <a href="{{ site_setting.whatsapp }}" target="_blank" class="text-lg">
                <i class="fab fa-whatsapp" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
      </div>

      <!-- Bottom section -->
      <div class="border-t border-gray-400 py-4">
        <div
          class="container mx-auto flex items-center justify-center text-sm"
        >
          <p>{{ site_setting.copy_right_text }}</p>
        </div>
      </div>
    </footer>