{% load render_partial %}

<!DOCTYPE html>
<html lang="fa" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="canonical" href="{% block url %}{% endblock %}" />
    {% include "Base/Includes/Css.html" %}
    {% block meta %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>

    {% render_partial 'HomeModule.views.header_render_partial_component' %}

    {% include 'Base/Includes/MobileMenu.html' %}
    {% include 'Base/Includes/SearchModal.html' %}

    {% block content %}{% endblock %}

    {% render_partial 'HomeModule.views.footer_render_partial_component' %}

    {% include 'Base/Includes/Script.html' %}
    {% block js %}{% endblock %}

  </body>
</html>
