{% extends 'Base/Base.html' %}
{% load thumbnail %}
{% load jalali_tags %}

{% block meta %}
    <meta name="description" content="{{ tutorial.text }}">
    <meta name="keywords" content="آموزش, راهنما, ماشین چینی, {{ tutorial.title }}">
    <meta name="author" content="{{ tutorial.writer }}">
    <meta property="og:title" content="{{ tutorial.title }}">
    <meta property="og:description" content="{{ tutorial.text }}">
    <meta property="og:image" content="{{ tutorial.image.url }}">
    <meta property="og:url" content="{% url 'TutorialDetailPage' tutorial.slug %}">
{% endblock %}

{% block title %}
	{{ tutorial.title }} - ناظمی یدک
{% endblock %}
{% block content %}
<main class="bg-gray-50 py-12">

      <div class="container mx-auto px-4">
        <!-- Tutorial Title -->
        <h1 class="text-4xl font-bold text-gray-900 mb-6">{{ tutorial.title }}</h1>

        <!-- Tutorial Meta (Author, Date, etc.) -->
        <div class="flex items-center space-x-4 text-gray-600 mb-8">
          <span>نویسنده: {{ tutorial.writer }}</span>
          <span>•</span>
          <span>تاریخ انتشار: {{ tutorial.created_at|to_jalali:"%Y/%m/%d" }}</span>
        </div>

        <!-- Tutorial Image -->
        <div class="mb-8 w-[70%] mx-auto">
                 <img src="{{ tutorial.image.url }}" alt="{{ tutorial.title }}" class="w-full h-full object-cover">
        </div>

        <!-- Tutorial Content -->
        <div class="bg-white p-8 rounded-lg shadow-lg">
          <h2 class="text-2xl font-semibold text-gray-900 mb-4">
            توضیحات کامل
          </h2>
          <p class="text-gray-700 leading-relaxed mb-6">
            {{ tutorial.text }}
          </p>

        </div>

        <!-- Call-to-Action Buttons -->
        <div class="mt-8 flex gap-4 callToActionBtns">
          <a href="../pages/products.html" class="bg-crimsonRed text-white px-6 py-3 rounded-lg hover:bg-darkerBgRed transition duration-300">
            خرید قطعات
          </a>
          <a href="../pages/toturial.html" class="bg-blue-600 text-white px-6 py-3 rounded-lg hover:bg-blue-700 transition duration-300">
            مشاهده آموزش‌های بیشتر
          </a>
        </div>
      </div>
    </main>
{% endblock %}